@{
    Layout = "_Layout";
}

<h3>Your Name</h3>

<form>
    <input type="number" name="num1" placeholder="Number 1">
    <input type="number" name="num2" placeholder="Number 2">
    <input type="text" name="output" readonly>
    <input type="submit" value="Calculate">
</form>

@section CustomSection
    {
    <p>This is a paragraph of text displayed using the custom section.</p>
}
